*{
    margin:0;
    padding:0;
}
body{
    width:100%;
}
.menu-li{
    position:fixed;
    float:left;
    width:324px;
    background-color:white;
    left:0;
    top:0;

}
.content{
    position:absolute;
    left:324px;
    top:-20px;
    float:left;
    width:1022px;
    border-left:1px solid #ddd;

}
/*search box*/
::placeholder {
    font-size:15px;
}
.search-box {
    display: inline-block;
    width: 100%;
    padding: 4px 55px 4px 15px;
    position: relative;
    border: 1px solid #ddd;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.search-box.hovered, .search-box:hover, .search-box:active {
    border: 1px solid #aaa;
}

.search-box input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
}

.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
    box-shadow: none;
}
.menu-search .search-form{
    height:25px;
    margin-top:-6px;
}
.search-box .search-btn {
    position: absolute;
    right: -2px;
    top: -2px;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 10px 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
.search-box .link2 {
    position: absolute;
    right: -2px;
    top: -2px;
    color: black;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 10px 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
.search-box .search-btn:hover {
    color: #fff;
    background-color:#b2b2b2;
}
.search-box .link2:hover {
    border:1px solid grey;
}
/*sign in va register*/
.signin{
    float:left;
    width:100%;
    height:43px;
    border:1px solid #e8e8e8;
}
.signin p{
    margin-left:40px;
}
.signin p .signin1{
    padding-top:10px;
    float:left;
    text-decoration:none;
    color:black;

}
.signin p .signin1:hover{
    color:red;
}
.signin p span{
    float:left;
    padding-top:10px;
}
.signin p .fa-gift{
    padding-left:12px;
    padding-top:6px;
    float:right;
    width:50px;
    height:41px;
    font-size:25px;
    color:#ec008c;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
.signin p .fa-gift:hover{
    background-color:#ec008c;
    color:white;
}
.signin p  .fa-shopping-bag{
    padding-left:12px;
    padding-top:6px;
    float:right;
    width:50px;
    height:41px;
    font-size:25px;
    color:#ec008c;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
.signin p  .fa-shopping-bag:hover{
    background-color:#ec008c;
    color:white;
}

/*logo*/
.logo{
    float:left;
    width:100%;
    height:50px;
    margin-top:25px;
    margin-bottom:30px;
    margin-left:20px;
}
.logo img{
    width:250px;
    height:30px;
}
/*content phần menu*/
.danh-muc{
    float:left;
    width:100%;
}

.fa-chevron-down{
    float:right;
    font-size:19px;
    color:#848484;
    height:40px;
    width:40px;
    background-color:white;
    margin-right:-20px;
    margin-top:-10px;
    padding-left:14px;
    padding-top:9px;
}
.fa-chevron-down:hover{
    background-color:#f0f0f0;

}

.danh-muc .ul-main{
    width:90%;
}
.danh-muc .ul-main .you {
    width:100%;
    list-style:none;
    margin-left:-18px;
    border-bottom:1px solid #e8e8e8;
    padding-top:15px;
    padding-bottom:15px;

}

.danh-muc .ul-main .you .link1{

    color:black;
    font-weight:600;
    text-transform: uppercase;
}
.danh-muc .ul-main .you .link1:hover{
    color:red;
    text-decoration:none;
}
.link3{

    height:50px;
    border-bottom:1px solid #e8e8e8;

}
.submenu .link3 a{
    margin-left:20px;
    color:black;
    font-weight:600;
    text-transform: uppercase;
}
.submenu .link3 a:hover{
    color:red;
    text-decoration:none;
}

/*formenu */
.menu-item{
    position: relative;
    left:-20px;
}
.submenu{
    display: none;

    width: 250px;
    background-color: #fff;
}
.submenu li {
    margin-left:-20px;
    padding-top:20px;
    float: left;
    width: 225px;
    list-style:none;
}
/*footer menu*/
.footer-menu{
    float:left;
    margin-left:18px;
    margin-top:30px;
    font-weight:600;
}
.e-update{
    float:left;
    width:90%;
    font-size:14px;
    margin-top:20px;
    font-weight:400;
    line-height:1.5;
    margin-bottom:30px;
}
.fab5{
    margin-bottom:60px;
}
.fab5 i{
    font-size:30px;
    margin-left:10px;
    margin-top:10px;
}
/*check thanh cuon*/
.fixed{
    display:block;
    padding:5px;
    margin-top:5px;
    width:100%;
    height:500px;
    overflow:scroll;
    float:left;
}
.fixed::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
/**/
/*for content*/
.exam{
    width:60px;
    height:60px;
    background-color:white;
}
.content1{
    float:left;
    width:100%;
}
.content2{
    float:left;
    width:100%;
    height:350px;

}
.content2-1{
    float:left;
    width:50%;
}
.content2-2{
    float:left;
    width:50%;
}

/* Other styling elements, that are not necessary for the example */
.content2-1 .img-wrapper {
    background-color:black;

    position:absolute;
    overflow: hidden;
    top:700px;
    left:205px;
    transform:translate(-50%,-50%);
    display:flex;
}
.content2-1 .inner-img {
    width:380px;
    position:relative;
    transition: 0.1s;
    height:320px;
}
.content2-1 .inner-img:hover {
    opacity:0.5;
    cursor:pointer;
    background-color:green;
}
.content2-1 .img-wrapper {

    display: inline-block;
    box-sizing: border-box;
//border: 1px solid #000;
}
.content2-1 .img10{
    z-index:2;
    position:absolute;
    background:#000;
}
.content2-1 .list{
    position:absolute;
    z-index: 3;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.content2-1 .list form{
    list-style: none;
    display:flex;
    margin-top:180px;
}
.content2-1 .list form .btn{
    width:60px;
    height:40px;
    text-align:center;
    padding-top:7px;
    margin-right:4px;
    opacity:0;
    transition:0.5s;
    font-size:20px;
    font-weight:700;
    background-color:#ec008c;
    border-radius:5px;
    color:white;

}
.content2-1 .inner-img:hover .list form .btn{
    opacity:2;
    text-decoration:none;
}
.content2-1 .detail{
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    z-index:4;
    width:100%;
    height:120px;
    bottom:250px;
    color:white;
    opacity:0;
    transition:0.5s;
}
.content2-1 .inner-img:hover .detail{
    opacity:1;

}
.content2-1 .detail>.name{
    text-align:center;
    font-size:30px;
    font-weight:700;
    margin-top:10px;
}
.content2-1 .detail>.descript{
    text-align:center;
    font-size:25px;
    font-weight:700;
    margin-top:10px;
}
/*content2-2 fomat*/
.content2-2 .img-wrapper {
    background-color:black;

    position:absolute;
    overflow: hidden;
    top:700px;
    left:580px;
    transform:translate(-50%,-50%);
}
.content2-2 .inner-img {
    width:380px;
    position:relative;
    transition: 0.4s;
    height:320px;
}
.content2-2 .inner-img:hover {
    opacity:0.5;
    cursor:pointer;
    background-color:green;
}
.content2-2 .img-wrapper {

    display: inline-block;
    box-sizing: border-box;
//border: 1px solid #000;
}
.content2-2 .img10{
    z-index:2;
    position:absolute;
    background:#000;
}
.content2-2 .list{
    position:absolute;
    z-index: 3;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.content2-2 .list form{
    list-style: none;
    display:flex;
    margin-top:180px;
}
.content2-2 .list form .btn{
    width:60px;
    height:40px;

    text-align:center;
    padding-top:7px;
    margin-right:4px;
    opacity:0;
    transition:0.5s;
    font-size:20px;
    font-weight:700;
    background-color:#ec008c;
    color:white;
    border-radius:5px;

}
.content2-2 .inner-img:hover .list form .btn{
    opacity:2;
    text-decoration:none;
}
.content2-2 .detail{
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    z-index:4;
    width:100%;
    height:120px;
    bottom:250px;
    color:white;
    opacity:0;
    transition:0.5s;
}
.content2-2 .inner-img:hover .detail{
    opacity:1;

}
.content2-2 .detail>.name{
    text-align:center;
    font-size:30px;
    font-weight:700;
    margin-top:10px;
}
.content2-2 .detail>.descript{
    text-align:center;
    font-size:25px;
    font-weight:700;
    margin-top:10px;
}
/*format content2-3*/
.content2-3 .img-wrapper {
    background-color:black;
    position:absolute;
    overflow: hidden;
    top:620px;
    left:890px;
    transform:translate(-50%,-50%);
    display:flex;
}
.content2-3 .inner-img {
    width:240px;
    position:relative;
    transition: 0.4s;
    height:160px;
}
.content2-3 .inner-img:hover {

    opacity:0.8;
    cursor:pointer;
    background-color:green;
}
.content2-3 .img-wrapper {

    display: inline-block;
    box-sizing: border-box;
//border: 1px solid #000;
}
.content2-3 .img10{
    z-index:2;
    position:absolute;
    background:#000;
}
.content2-3 .list{
    position:absolute;
    z-index: 3;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.content2-3 .list form{
    list-style: none;
    display:flex;
    margin-top:180px;
}
.content2-3 .list form .btn{
    width:60px;
    height:40px;

    text-align:center;
    padding-top:7px;
    margin-right:4px;
    opacity:0;
    transition:0.5s;
    font-size:20px;
    font-weight:700;
    background-color:black;
    color:white;

}
.content2-3 .inner-img:hover .list form .btn{
    opacity:2;
    text-decoration:none;
}
.content2-3 .detail{
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    z-index:4;
    width:100%;
    height:120px;
    bottom:250px;
    color:white;
    opacity:0;
    transition:0.5s;
}
.content2-3 .inner-img:hover .detail{
    opacity:1;

}
.content2-3 .detail>.name{
    text-align:center;
    font-size:30px;
    font-weight:700;
    margin-top:10px;
}
.content2-3 .detail>.descript{
    text-align:center;
    font-size:25px;
    font-weight:700;
    margin-top:10px;
}
/*format content 2-4*/
.content2-4 .img-wrapper {
    background-color:black;

    position:absolute;
    overflow: hidden;
    top:780px;
    left:890px;
    transform:translate(-50%,-50%);
    display:flex;
}
.content2-4 .inner-img {
    width:240px;
    position:relative;
    transition: 0.4s;
    height:160px;
}
.content2-4 .inner-img:hover {
    opacity:0.8;
    cursor:pointer;
    background-color:green;
}
.content2-4 .img-wrapper {

    display: inline-block;
    box-sizing: border-box;
//border: 1px solid #000;
}
.content2-4 .img10{
    z-index:2;
    position:absolute;
    background:#000;
}
.content2-4 .list{
    position:absolute;
    z-index: 3;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.content2-4 .list form{
    list-style: none;
    display:flex;
    margin-top:180px;
}
.content2-4 .list form .btn{
    width:60px;
    height:40px;

    text-align:center;
    padding-top:7px;
    margin-right:4px;
    opacity:0;
    transition:0.5s;
    font-size:20px;
    font-weight:700;
    background-color:black;
    color:white;

}
.content2-4 .inner-img:hover .list form .btn{
    opacity:2;
    text-decoration:none;
}
.content2-4 .detail{
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    z-index:4;
    width:100%;
    height:120px;
    bottom:250px;
    color:white;
    opacity:0;
    transition:0.5s;
}
.content2-4 .inner-img:hover .detail{
    opacity:1;

}
.content2-4 .detail>.name{
    text-align:center;
    font-size:30px;
    font-weight:700;
    margin-top:10px;
}
.content2-4 .detail>.descript{
    text-align:center;
    font-size:25px;
    font-weight:700;
    margin-top:10px;
}


/**/
/*.img-wrapper {
    overflow: hidden;
}
.inner-img {
    transition: 0.4s;
}
.inner-img:hover {
    transform: scale(1.2);
    opacity:0.6;

}
.img-wrapper {
    display: inline-block;
    box-sizing: border-box;
//border: 1px solid #000;
}*/
/*opacity*/
.ad{
    border:1px solid #ccc;
    display:none;
    width:400px;
    height:400px;
    opacity:0.1;
    position:relative;
    top:-200px;
}


.text {
    color: red;
    font-size: 50px;
    position: absolute;
    left:400px;
    top:700px;
    height:0;
}
.text:hover{
    height:40px;
}
.content3{
    margin-top:45px;
    margin-left:30px;
    margin-right:20px;
    float:left;
    width:96%;
    height:150px;


}
.content3-1 {
    float:left;
    width:31%;
    height:200px;
    border:1px solid #e8e8e8;
    background-color:white;
}
.content3-2 , .content3-3{
    float:left;
    width:31%;
    height:200px;
    border: 1px solid #e8e8e8;
    margin-left:24px;
    background-color:white;
}
.content3-1 .img2, .content3-2 .img2 , .content3-3 .img2{
    float:left;
    margin-left:20px;
    margin-top:70px;
    width:35%;
    height:200px;
}
.content3-1 .img2 .fas2, .content3-2 .img2 .fas2 , .content3-3 .img2 .fas2{
    font-size:60px;
    color:#ec008c;
}
.content3-4{
    float:left;
    width:50%;
}
.content3-41{
    margin-top:20px;

}
.content3-41{
    font-size:18px;

    line-height:1.5;
}
.content3-42{
    font-size:15px;
    line-height:1.5;
}
.content4{
    float:left;
    width:96%;

    margin-top:130px;
    margin-right:20px;
    margin-left:30px;

}
.title-1{
    margin-bottom:10px;
    float:left;
    width:98%;
    height:100px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAGXRFW…369X8GKBAREWGEsRn//4eLowAmBhyA5c2bN0PIKIAAAwCcixkLEp+THwAAAABJRU5ErkJggg==)
}

.title-1 p{
    font-size:40px;
    margin-left:10px;
    padding-top:10px;
    color:black;
    font-weight: 400;
}
.title-1 p img{
    margin-right:10px;
}


/*add phan chi tiet cac san pham*/
/*nam tron the content 4-1*/

.content4-1{
    float:left;
    width:100%;

}
.HTML1 {
    float: left;
    width: 320px;
    background-color: white;
    height: 550px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    transition:0.1ms;
    border:1px solid #FFFFFF;

}
.HTML1:hover{
    border:1px solid grey;
}




.img1{
    background-image: url("../IMG/type-discount.png");
    color:white;
    float:left;
    margin-left:200px;
    background-repeat: no-repeat;
    width:54px;
    position:relative;
    left:10px;
    top:-45px;
    box-sizing:border-box;
}
.img1 p{
    margin-left:12px;
    margin-top:15px;
    color:yellow;
    font-weight:600;
}
.exe{
    margin-top:20px;
    margin-left:150px;
    position:relative;
    bottom:-5px;
}
.exe1{
    float:left;
    width:100%;
}
.text1{
    width:100%;
    float:left;
    margin-top:-20px;
    font-weight:600;
    font-size:15px;
}
.text1-1{
    float:left;
    color:blue;
}
.text1-2{
    float:left;
    margin-left:10px;
}
.text2{
    float:left;
    width:100%;
}
.text2 a{
    color:black;
    font-size:13px;
}
.price{
    float:left;
    width:100%;
    color:#e3007b;
    font-size:18px;
    font-weight:600;
    margin-top:5px;

}
.original-price{
    float:left;
    width:100%;
    text-decoration:line-through;
    color:#a2a4a5;
}

.original-price .text3-1{
    float:left;
    text-decoration:line-through ;
}
.original-price .text3-2{
    float:left;
    margin-left:85px;
}
.text4{
    float:left;
    width:100%;
}
.text4-1{
    float:left;
    font-size:13px;
}
.text4-2{
    margin-left:10px;
    float:left;
    font-size:13px;
    color:#e3007b;
    font-weight:600;
}
.gift{
    float:left;
    width:250px;
    border:1px solid #fdcc0c;
}
.title-gift{
    width:67px;
    background-color:#e3007b;
    float:left;
}
.title-gift p{
    padding-top:5px;
    font-size:13px;
    color:#fdcc0c;
    margin-left:3px;

}
.list-gift img{
    margin-top:5px;
    float:left;
    margin-left:5px;
    width:30px;
    height:25px;
}
.text5{
    margin-top:10px;
    float:left;
    width:120px;
}
.text5 a{

    font-size:12px;
    color:black;
    text-decoration: none;
}
.text5-1{

    float:left;
    background-color:#e3007b;
    color:yellow;
    padding-top:15px;
    height:50px;
    padding-left:30px;
    width:200px;

}
.text5-1 a{
    color:yellow;
    text-decoration:none;
    font-weight:600;
}
/*hover for san pham*/
.detail{
    position:absolute;
    width:100px;
    height:40px;
    z-index:3;
    margin-left:60px;
    margin-top:270px;
    transition:0.5s;
    opacity:0;
    background-color:white;
    border:1px solid grey;
    border-radius: 5px;
    text-align:center;
    padding-top:10px;

}
.detail a{
    color:black;
    border-radius:5px;
    text-decoration:none;
}
.HTML1 .detail a:hover{
    text-decoration:none;
    color:black;

}
.HTML1 .detail:hover{
    background-color:#f0f0f0;
}
.HTML1:hover .detail{
    opacity:1;
    transform:translateX(0px);
    transform: translateY(-120px);
    color:black;

}

/*css for foooter*/
.footer{
    margin-top:70px;
    float:left;
    width:100%;
    height:510px;
    background-color:white;
}
.footer1{
    float:left;
    width:100%;
    border-bottom:1px solid #e8e8e8;
    padding-bottom:20px;
}
.footer1-1{
    margin-top:15px;
    width:25%;
    float:left;
}
.fo-icon{
    float:left;
    font-size:30px;
    color:#ec008c;
    margin-left:20px;
}
.fo-text{
    float:left;
    width:70%;
    margin-left:10px;
    color:#ec008c;
}
.footer2{
    margin-top:35px;
    float:left;
    width:100%;
    height:300px;
    border-bottom:1px solid #e8e8e8;

}
.footer2-1{
    float:left;
    width:23%;
    margin-left:20px;
}
.fo2-text2{
    color:#3083cd;
    font-size:17px;
}
.fo2-text3{
    font-size:14px;
    color:black;
}
.fo2-text3:hover{
    color:#3083cd;
    text-decoration:none;
}
.fo3-text1{
    float:left;
    margin-left:20px;
    margin-top:30px;
    color:#ec008c;
}
.fo3-icon{
    float:left;
}
.fo3-icondetail{
    float:left;
    margin-left:20px;
    margin-top:30px;
}
/*content4*/
.content4-1{

}
