body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width:100%;
}
.na1{
    width:100%;
    background-color:#06377b;
    height:65px;
}
.na2{
    background-color:#e3007b;
    height:75px;
}
.na2 .wi a{
    color:white;
    text-decoration:none;
    font-size:13px;
    font-weight:600;
}
.na2 .wi1 {
    color:white;
    text-decoration:none;
    margin-top:-7px;
    font-size:12px;
}
.na2 .wi{
    margin-top:25px;
}

.col1,.col1-1{
    float:left;
}
.col1-1{
    margin-left:90px;
}
.col2{
    margin-top:17px;
    width:230px;
    float:left;
    margin-left:90px;
}
.col3{
    float:left;
    margin-left:97px;
    width:120px;
}
.col4{
    float:left;
    margin-left:20px;
}
.col5{
    float:left;
    margin-left:20px;
    width:130px;
}
.col6{
    float:left;
    width:415px;
    height:50px;
    margin-left:30px;



}
.col6-1{
    float:left;
    width:100%;
}
.col6-1-2 , .col6-1-3, .col6-1-4,.col6-1-5{
    float:left;
    margin-top:8px;
}
.col6-1-2 a, .col6-1-3 a, .col6-1-4 a,.col6-1-5 a{
    color:white;
    text-decoration:none;
}
.col6-1-2{
    margin-left:20px;
}
.col6-1-2 p, .col6-1-3 p {
    font-size:11px;

}
.col6-1-3{
    width:50px;
    margin-left:10px;
}
.col6-1-4,.col6-1-5{
    font-size:11px;
}
.col6-1-4{
    width:100px;
}
.col6-2{
    width:100%;
    float:right;
}
.search-box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 4px 55px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.search-box.hovered, .search-box:hover, .search-box:active {
    border: 1px solid #aaa;
}

.search-box input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
}

.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
    box-shadow: none;
}
.search-form{
    height:25px;
    margin-top:-6px;
}
.search-box .search-btn {
    position: absolute;
    right: -2px;
    top: -2px;
    color: #aaa;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 10px 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.search-box .search-btn:hover {
    color: #fff;
    background-color: #8FBE00;
}
.na3{
    width:100%;
    background-color:#ffd504;
    height:45px;
}
.col7-1{
    margin-left:90px;
    float:left;
}
.col7-1 p {
    padding-top:13px;
    float:left;
    background-color:#fef200;
    width:225px;
    height:45px;

}
.col7-1 p span{
    font-size:12px;
}
.col7-1 .fa-bars{
    margin-left:20px;
    font-size:19px;
}
.fa-angle-double-right{
    margin-left:15px;
}
.col7-2,.col7-3,.col7-4{
    float:left;
    padding-top:13px;
}
.col7-2 a,.col7-3 a,.col7-4 a{
    color:black;
    text-decoration:none;
}
.col7-2 a{
    font-size:12px;
    margin-left:30px;
}
.col7-3 a{
    margin-left:20px;
    font-size:12px;
}
.col7-4 a{
    margin-left:20px;
    font-size:12px;
}
.na4{
    margin-top:-10px;
    float:left;
    width:100%;
    background-color:#efefef;
}
.col8-1{
    float:left;
    margin-left:90px;
    width:225px;
    background-color:white;
}
.col8-1 li{
    border-bottom:1px solid #efefef;
}
.col8-1 li a{
    font-size:12px;
    color:black;
    text-decoration:none;
}
.col8-2{
    float:left;
    margin-left:10px;
    margin-top:10px;
}
.col8-3{
    float:left;
    margin-left:10px;
    margin-top:10px;
}
.col8-4{
    margin-top:10px;
}
.na5{
    margin-top:-10px;
    float:left;
    background-color:#efefef;;
    width:100%;
    height:80px;
}
.na5 img{
    margin-left:90px;
}

section{
    background-color:#efefef;
    width:100%;
    height:2000px;
}
.KM{
    float:left;
    background-color:white;
    width:1177px;
    height:50px;
    margin-left:90px;
    border-bottom:1px solid #efefef;
}
.KM1{
    float:left;
    background-color:white;
    width:1177px;
    height:50px;
    margin-top:10px;
    margin-left:90px;
    border-bottom:1px solid #efefef;
}
.KM p{
    margin-left:10px;
    margin-top:10px;
    color:red;
    font-size:18px;
}
.KM p img{
    margin-right:10px;
}

.HTML1 {
    float: left;
    width: 294px;
    margin-left: 90px;
    background-color: white;
    height: 425px;
    padding-left: 20px;
    padding-right: 20px;
}
.HTML2{
    float:left;
    width:294px;
    background-color:white;
    height:425px;
    padding-left:20px;
    padding-right:20px;

}

.img1{
    background-image: url("../IMG/type-discount.png");
    color:white;
    float:right;
    background-repeat: no-repeat;
    width:54px;
    height:54px;
    position:relative;
    left:10px;
    top:-45px;
}
.img1 p{
    margin-left:12px;
    margin-top:15px;
    color:yellow;
    font-weight:600;
}
.exe{
    margin-left:150px;
    position:relative;
    bottom:-5px;
}
.exe1{
    float:left;
    width:100%;
}
.text1{
    width:100%;
    float:left;
    margin-top:-20px;
    font-weight:600;
    font-size:15px;
}
.text1-1{
    float:left;
    color:blue;
}
.text1-2{
    float:left;
    margin-left:10px;
}
.text2{
    float:left;
    width:100%;
}
.text2 a{
    color:black;
    font-size:13px;
}
.price{
    float:left;
    width:100%;
    color:#e3007b;
    font-size:18px;
    font-weight:600;
    margin-top:5px;
}
.original-price{
    margin-top:-10px;
    float:left;
    width:100%;
    text-decoration:line-through;
}
.original-price{
    color:#a2a4a5;
}
.original-price .text3-1{
    margin-top:4px;
    float:left;
    text-decoration:line-through ;
}
.original-price .text3-2{
    float:right;
}
.text4{
    float:left;
    width:100%;
}
.text4-1{
    float:left;
    font-size:13px;
}
.text4-2{
    margin-left:10px;
    float:left;
    font-size:13px;
    color:#e3007b;
    font-weight:600;
}
.gift{
    float:left;
    width:250px;
    border:1px solid #fdcc0c;
}
.title-gift{
    width:67px;
    background-color:#e3007b;
    float:left;
}
.title-gift p{
    padding-top:5px;
    font-size:13px;
    color:#fdcc0c;
    margin-left:3px;

}
.list-gift img{
    margin-top:5px;
    float:left;
    margin-left:5px;
    width:30px;
    height:25px;
}
.text5{
    margin-top:10px;
    float:left;
    width:120px;
}
.text5 a{

    font-size:12px;
    color:black;
    text-decoration: none;
}
.text5-1{

    float:left;
    background-color:#e3007b;
    color:yellow;
    padding-top:15px;
    height:50px;
    padding-left:30px;
    width:200px;

}
.text5-1 a{
    color:yellow;
    text-decoration:none;
    font-weight:600;

}
/*phần các máy giặt nổi bật*/
.km3{
    margin-top:10px;
    width:1177px;
    float:left;
    margin-left:90px;
}
.km3-1{
    float:left;

}
.km3-2{
    float:left;
    margin-left:10px;
}
.km3-3{
    float:left;
}
.km3-4{
    margin-left:10px;
    float:left;
    background-color:white;
    height:320px;
    width:237px;
}
.km3-41{
    float:left;
    width:100%;
    border-bottom:1px solid #efefef;


}
.km3-411{

    float:left;


}
.km3-411 img, .km3-412 img{
    width:100px;
    height:23px;
    margin-left:10px;
    margin-top:8px;
    margin-bottom:8px;
}
.km3-412{

    float:left;
    width:50%;
    border-left:1px solid #efefef;
}
.km3-42{
    float:left;
    width:100%;
    border-bottom:1px solid #efefef;

}
.km3-42 a{
    padding-bottom:20px;
}
.km3-43{
    float:left;
    width:100%;

}
.km3-42 a, .km3-43 a {
    color: black;
    text-decoration: none;
    font-size: 12px;

}
.km3-42 p{
    margin-left:10px;
    margin-top:8px;
    margin-bottom:20px;
}
.km3-43 p{
    margin-top:8px;
    margin-left:10px;
    border-bottom:1px solid #efefef;
}
/* css for menu */
.menu-item{
    position: relative;
}
.submenu{
    display: none;
    top:0px;
    left:186px;
    position: absolute;
    width: 955px;
    height: 442px;
    background-color:white;
    z-index: 10;
}
.submenu li a {
    float: left;
    width: 100%;
}
.mn1 li{
    list-style:none;
}
.mn1{
    margin-left:-10px;
    float:left;
    width:16%;
    height:443px;

}
.nm2{
    margin-top:10px;
    font-weight:600;

}
.mn1 li{
   padding-top:10px;
}
.imghv:hover{
    transition:all 900ms;
    transform:rotateY(180deg);

}