*{
    margin:0px;
    padding:0px;

}
body{
    width:100%;
}
header,section,footer{
    font-family: 'Lato', sans-serif;
}
.header-menu ul{
    list-style: none;
}
.header-menu ul li{
    float:left;
    margin-right:30px;
}

.header-menu a {
    color:white;
    font-size:12px;
}
.header-menu a:hover{
    text-decoration:none;
    color:white;
}
.header-menudetail{
    padding-top:10px;
    box-sizing: border-box;
    padding-bottom:10px;
    transition:500ms;
}
.header-menudetail:hover{
    opacity:0.7;
    background-color:#484848;
}
.header-icon{
    margin-top:10px;
    width:200px;
    margin-left:-30px;
    float:left;
}
.header-icon1{
    width:25px;
    height:25px;
    float:left;
    color:white;
    background-color:#484848;
    margin-left:2px;
    border-radius:50%;
    padding-left:6px;
    padding-top:3px;
    transition: 1000ms;
}
.header-icon1:hover{
    background-color:white;
}
.header-icon1{
    transition:1000ms;
}
.header-icon1:hover a{
    color:#333333;
}
.header-icon a{
    color:white;
}
.logo {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
}
.first-searchbox .search-box {
    margin-top:45px;
    display: inline-block;
    width: 85%;
    border-radius: 4px;
    padding-top:10px;
    padding-left:20px;
    position: relative;
    background: #f5f5f5;
    box-sizing: border-box;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.first-searchbox .search-box input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
}

.first-searchbox .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
    box-shadow: none;
}
.first-searchbox .search-form{
    height:45px;
}
.first-searchbox .search-box .search-btn {
    height:55px;
    width:55px;
    position: absolute;
    color:black;
    top:-2px;
    right:-2px;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.first-searchbox .search-box .search-btn:hover{
    color: black;
}
.notation{
    margin-left:-75px;
    margin-top:45px;
    width:270px;
    height:55px;
    background-color:#f5f5f5;
    border-radius:4px;
    float:left;
    transition:600ms;
}
.notation:hover{
    cursor:pointer;
}
.bag{
    float:left;
    height:50px;
    width:50px;
    margin-top:50px;
    padding-left:40px;
    box-sizing: border-box;
    font-size:30px;
}
.bag a{
    color:black;
}
.bag a:hover{
    color:black;
}
.fa-headphones{
    padding-top:10px;
    padding-left:10px;
    width:50px;
    height:55px;
    float:left;
    font-size:30px;
}
.customer-support{
    width:190px;
    float:left;
    height:55px;
    box-sizing: border-box;
    padding-top:10px;
}

.fa-chevron-down{
    height:50px;
    padding-top:20px;

}
.menu-main{
    height:70px;
}
.menu-main i{
    color:#b1b1b1;
    margin-left:4px;
    font-size:11px;
}
.slider3 .slider-detail{
    height:100px;
}
/*DAY LA DINH DANG CUA MENU*/
.menu-item{
    position: relative;
    float:left;
    margin-right:55px;
    list-style:none;
    padding-top:10px;
    padding-bottom:10px;
}
.menu-item .li {
    font-size:16px;
    color:black;
    transition:500ms;
    font-weight:600;
}
.menu-item .li:hover{
    color:#898b98;
    text-decoration: none;
}
.submenu{
    border-top:1px solid #f5f5f5;
    display: none;
    position: absolute;
    left:-40px;
    top:70px;
    height: 200px;
    background-color: #fff;
    z-index: 10;
    list-style: none;
}
.submenu .li1{
    float: left;
    width: 100%;
    margin-left:20px;
    padding-top:10px;
}

.menu{
    margin-left: 40px;
}
.submenu li a{
    color:#898b98;
    font-size:13px;
}
.submenu li a:hover{
    color:black;

}
.li1:first-child{
    margin-top:10px;
}
.li2{
    float:left;
}
.li2 li:first-child{
    font-size:9px;
}
.li2 ul{
    list-style:none;
    float:left;
    height:200px;
    width:150px;
}
.submenu .li2:first-child{
    margin-left:20px;
}
.submenu .li2 ul li:first-child{
    margin-top:20px;
}
.submenu .li2 ul li:first-child a{
    color:black;
    transition:500ms;
}
.submenu .li2 ul li:first-child a:hover{
    color:#898b98;
}
.submenu .li2 ul li:nth-child(2){
    padding-top:10px;
}
.submenu .li2 li{
    margin-bottom:7px;
}
.submenu a:hover{
    text-decoration: none;
}
/*ket thuc phan menu*/
.img9 .img-wrapper:first-child{
    margin-left:40px;
}
.img9 .img-wrapper:nth-child(2),.img9 .img-wrapper:nth-child(3),.img9 .img-wrapper:nth-child(4){
    margin-left:10px;
}
.img-wrapper {
    overflow: hidden;
    display:flex;
}
.inner-img {
    width:300px;
    position:relative;
    transition: 0.9s;
    height:250px;
}
.inner-img:hover {
    transform: scale(1.1);
    opacity:0.8;
    cursor:pointer;
    background-color:green;
}
.img-wrapper {

    display: inline-block;
    box-sizing: border-box;
//border: 1px solid #000;
}
.img10{
    z-index:2;
    position:absolute;
    background:#000;
}
.detail{
    position:absolute;
    z-index:4;
    width:100%;
    top:160px;
}
.detail>.name{
    margin-left:20px;
    font-size:25px;
    font-weight:700;
    margin-top:10px;
    color:white;
}
.detail>.descript {
    margin-left:20px;
    font-size: 11px;
    font-weight: 700;
    margin-top: 10px;
    color:#acacac;
}
/*ket thuc phan header*/
/*footer*/
footer .container-fluid:first-child{
    height:80px;
}
footer .container-fluid:nth-child(2){
    height:410px;
    background-color: #333333;
}
footer .container-fluid:nth-child(3) {
    height: 60px;
    background-color: #333333;
    border-top:1px solid #484848;
}
footer .container-fluid:nth-child(4){
    height:100px;
    background-color:#2f2f2f;
}
.first-footer .img-footer{
    margin-top:30px;
}
.first-footer .img-footer p{
    margin-top:30px;
    color:#c1c1c1;
}
.footer-detail2{
    margin-top:27px;
}
.footer-detail2 p{
    color:white;
    font-weight:700;
    margin-top:10px;
    font-size:16px;
}
.footer-detail2{
    margin-top:20px;
}
.footer-detail2 a{
    color:white;
    font-size:15px;
    font-weight:600;
}
.footer-detail3{
    margin-top:10px;
}
.footer-detail3 a{
    color:white;
    font-size:15px;
    font-weight:600;
    transition:1000ms;
}
.footer-detail5 ul{
    list-style:none;
}
.footer-detail5 li{
    color:#6990cb;
    float:left;
    font-size:12px;
}
.footer-detail3 a:hover{
    color:#c1c1c1;
    text-decoration: none;
}
.footer-detail3 p{
    color:#c1c1c1;
}
.first-footer{
    height:410px;
}
.footer-detail6 ul{
    list-style: none;
    padding-top:20px;

}
.footer-detail6 li{
    padding-right:20px;
    float:left;
    margin-right:40px;
    border-right:1px solid #484848;
}
.footer-detail6 ul li a{
    color:#dddddd;
    transition:200ms;
    font-size:12px;
    font-weight:600;
}
footer div:nth-child(2) ul li a:hover{
    color:#c1c1c1;
    text-decoration: none;

}
.third-footer div:first-child{
    margin-top:25px;
}
.third-footer div:nth-child(2){
    margin-top:25px;
}
.third-footer span:first-child{
    color:#737373;
}
.third-footer span:nth-child(2){
    margin-left:5px;
}
.third-footer a{
    color:white;
    transition: 1000ms;
}
.third-footer span:nth-child(2) a:hover{
    color:#737373;
    text-decoration: none;
}
.footer-detail4 div{
    margin-bottom:10px;
    color:#6990cb;
    font-size:15px;
}
.footer-detail4 a:hover{
    color:#79a6e9;
    text-decoration:none;
}
.second-box{
    width:100%;
    height:35px;

}
.second-box input{
    background-color: #3d3d3d;
    border:none;
    color:white;
}
.second-box input:hover{
    border:none;
}
.second-box button{
    width:100px;
    position:absolute;
    top:0px;
    left:200px;
    height:35px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size:9px;
    color:white;
    background-color:#6990cb;
    border:none;
}
/*css shop page*/
.img-shopbanner{
    height:250px;
    width:100%;
}
.img-shopbanner{
    overflow:auto;
}
.img-shopbanner img{
    max-width:100%;
    height:auto;
}
.img-shopbanner::-webkit-scrollbar {
    display: none;
}
#text-shopbanner {
    height: 60px;
    position: relative;
    top: -180px;
}
#text-shopbanner div:first-child{
    margin-left:40px;
    float:left;
}
#text-shopbanner div:nth-child(2){
    float:right;
    margin-right:30px;
}
#text-shopbanner div:first-child p:first-child{
    font-size:  45px;
    font-weight:800;
    color:white;
}
#text-shopbanner div:first-child p:nth-child(2){
    font-size:17px;
    color:White;
}
#text-shopbanner div:nth-child(2){
    margin-top:30px;
}
#text-shopbanner a{
    color:#edeeef;
    font-size:11px;
    font-weight: 600;
}
#text-shopbanner a:hover{
    color:#aeaeae;
    text-decoration: none;
}
#text-shopbanner span{
    color:#aeaeae;
}
section{
    height:1000px;
}
#bottom-bannercover{
    margin-top:-100px;
    width:94%;
    height:110px;
    margin-left:40px;
    float:left;
    border:1px solid #f1f1f1;
    border-radius:8px;
}
.bottom-banner{
    margin-top:30px;
    float:left;
}
.bottom-banner div:nth-child(1){
    float:left;
    width:30%;
    height:60px;
}
.bottom-banner div:nth-child(2){
    float:left;
    width:60%;
    height:30px;
}
.bottom-banner div:nth-child(2) a{
    color:black;
    font-size:18px;
    font-weight:600;
    transition:600ms;
}
.bottom-banner div:nth-child(2) a:hover{
    color:#4d4d4d;
    text-decoration: none;
}

.bottom-banner div:nth-child(3){
    float:left;
    width:60%;
    height:30px;
}
.bottom-banner div:nth-child(3) a{
    color:#999999;
    font-size:12px;
}
.bottom-banner div:nth-child(3) a:hover{
    color:#999999;
    text-decoration: none;
}
.bottom-banner:first-child{
    margin-left:40px;
    width:200px;
    border-right:1px solid #f1f1f1;
    margin-right:20px;
}
.bottom-banner:nth-child(3){
    width:200px;
    border-right: 1px solid #f1f1f1;
    margin-right:20px;
}
.bottom-banner:nth-child(4){
    width:200px;
}
.bottom-banner:nth-child(2){
    width:290px;
    border-right: 1px solid #f1f1f1;
    margin-right:20px;
}