body{
    float: left;
    font-family: 'l';
}

#map {
    height: 500px;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 90%;
    margin: 0;
    padding: 0;
}
/*FORM*/
#submit{
    margin-top: 10px;
    background-color: mediumaquamarine;
}

#form{
    margin-top: 20px;
}
.form-control {
    background-color: rgba(0, 0, 0, .03);
    margin-top: 15px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
#H1_1 {
    box-sizing: border-box;
    color: rgb(238, 238, 238);
    height: 80px;
    text-align: left;
    text-decoration: none solid rgb(238, 238, 238);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 660px;
    column-rule-color: rgb(238, 238, 238);
    perspective-origin: 330px 40px;
    transform-origin: 330px 40px;
    caret-color: rgb(238, 238, 238);
    border: 0px none rgb(238, 238, 238);
    font: normal normal 900 normal 80px / 80px Lato;
    margin: 12px 0px 16px;
    outline: rgb(238, 238, 238) none 0px;
}/*#H1_1*/

#H1_1:after {
    box-sizing: border-box;
    color: rgb(238, 238, 238);
    text-align: left;
    text-decoration: none solid rgb(238, 238, 238);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(238, 238, 238);
    caret-color: rgb(238, 238, 238);
    border: 0px none rgb(238, 238, 238);
    font: normal normal 900 normal 80px / 80px Lato;
    outline: rgb(238, 238, 238) none 0px;
}/*#H1_1:after*/

#H1_1:before {
    box-sizing: border-box;
    color: rgb(238, 238, 238);
    text-align: left;
    text-decoration: none solid rgb(238, 238, 238);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(238, 238, 238);
    caret-color: rgb(238, 238, 238);
    border: 0px none rgb(238, 238, 238);
    font: normal normal 900 normal 80px / 80px Lato;
    outline: rgb(238, 238, 238) none 0px;
}/*#H1_1:before*/
#H6_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 30px;
    letter-spacing: 3px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 650px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 325px 15px;
    transform-origin: 325px 15px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 30px / 30px Lato;
    margin: -40px 0px 30px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#H6_1*/

#H6_1:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    letter-spacing: 3px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 30px / 30px Lato;
    outline: rgb(51, 51, 51) none 0px;
}/*#H6_1:after*/

#H6_1:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    letter-spacing: 3px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 30px / 30px Lato;
    outline: rgb(51, 51, 51) none 0px;
}/*#H6_1:before*/

label{
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.hillit{
    margin-left: 20px;
}

/*!*address*!*/
.address{
    background-color: rgba(0, 0, 0, .03);
    margin-right: auto;
}
.div-address {
    box-sizing: border-box;
    display: flex;
    height: 25.3333px;
    text-size-adjust: 100%;
    width: 262.51px;
    align-items: center;
    perspective-origin: 131.25px 12.6667px;
    transform-origin: 131.255px 12.6667px;
    font: normal normal 300 normal 16px / 26px Lato;
    margin: 0px 0px 35px 35px;
}/*.div-address*/
.address-min{
    margin: 0px 0px 35px 35px;
}
.div-address:after {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*.div-address:after*/

.div-address:before {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*.div-address:before*/

.SPAN_2 {
    box-sizing: border-box;
    display: none;
    height: 1px;
    min-width: 10%;
    position: relative;
    text-size-adjust: 100%;
    flex: 1 1 auto;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_2*/

.SPAN_2:after {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_2:after*/

.SPAN_2:before {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_2:before*/

.SPAN_3 {
    box-sizing: border-box;
    display: block;
    height: 1px;
    position: relative;
    text-size-adjust: 100%;
    top: 1px;
    width: 100%;
    border-top: 3px solid rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_3*/

.SPAN_3:after {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_3:after*/

.SPAN_3:before {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_3:before*/

.H4_4 {
    box-sizing: border-box;
    height: 25.3333px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 196.635px;
    perspective-origin: 98.3125px 12.6667px;
    transform-origin: 98.3177px 12.6667px;
    font: normal normal 700 normal 25.6px / 25.6px Lato;
    margin: 0px;
    padding: 0px 20.48px 0px 0px;
}/*#H4_4*/

.H4_4:after {
    box-sizing: border-box;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: normal normal 700 normal 25.6px / 25.6px Lato;
}/*#H4_4:after*/

.H4_4:before {
    box-sizing: border-box;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: normal normal 700 normal 25.6px / 25.6px Lato;
}/*#H4_4:before*/

.SPAN_5 {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    height: 1px;
    left: 0px;
    min-height: auto;
    min-width: 10%;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 65.875px;
    perspective-origin: 32.9375px 0.5px;
    transform-origin: 32.9375px 0.5px;
    flex: 1 1 auto;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_5*/

.SPAN_5:after {
    box-sizing: border-box;
    min-height: auto;
    min-width: auto;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_5:after*/

.SPAN_5:before {
    box-sizing: border-box;
    min-height: auto;
    min-width: auto;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_5:before*/

.SPAN_6 {
    bottom: -1px;
    box-sizing: border-box;
    display: block;
    height: 3px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 1px;
    width: 65.875px;
    perspective-origin: 32.9375px 1.5px;
    transform-origin: 32.9375px 1.5px;
    border-top: 3px solid rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_6*/

.SPAN_6:after {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_6:after*/

.SPAN_6:before {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: normal normal 300 normal 16px / 26px Lato;
}/*#SPAN_6:before*/
.louis-name {
    float: left;
    margin-top: 30px;

}
/*louis-name*/
h3{
    font-size: 25px;
    font-weight: 500;
    margin-left: 0px;
}
h4{
    font-size: 18px;
    font-weight: 500;

}
p{
    margin-left: 0px;
}